.ig{
    list-style-image: url("./imagens/Insta.png");
}

.tw{
    list-style: url("./imagens/Twitter.png");

}

.yt{
    list-style-image: url("./imagens/Youtube.png");
}
.nome{
    font-size: 30px;
}

.cartão{
    width: 400px;
    height: 200px;

    background: url("./imagens/backgorund.png") no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 1px 20px;
    margin: auto;
    margin-top: 10%;

}
body{
    background-color: black;
}

a{
    text-decoration: none;
    color: black;
}
    
